# Python for Data Science course: PART 1

<img src="images/intropython.png" width="400">

This notebook follows the index of the **Python for Data Science course**. It will cover all of the examples that you will observe during the course and you will play with this notebook while the first part of the course is given: Introduction to Python.

Feel free to try any idea and type any code you wish.

The course index is the next one:

## Table of content:
* [1.- Basic Instructions](#basic)
    * [PEP8 style guide](#pep)
    * [Indentation](#indentation)
    * [Variables](#variables)
    * [Constants](#constants)
    * [Keywords](#keywords)
    * [Comments](#comments)
    * [Printing on the screen](#print)
    * [Operations](#operations)
        * [Arithmetic Operations](#arithmeticop)
        * [Assignment operators](#assignmentop)
        * [Bitwise Operators](#bitwiseop)
        * [Logical operators](#logicalop)
        * [Membership operators](#membershipop)
        * [Identity operators](#identityop)
* [2.- Data Structures](#dataStructures)
    * [Lists](#lists)
    * [Tuples](#tuples)
    * [Dictionaries](#dictionary)
    * [Sets and FrozenSets](#set)
* [3.- Control Structures](#controlStructures)
    * [Iteration structures](#iteration)
        * [While statement](#while)
        * [For Loop](#for)
    * [Conditional Structures](#conditional)
* [4.- Functions](#functions)
    * [Arguments](#arguments)
        * [Required Arguments](#requiredArgs)
        * [Keyword Arguments](#keywordArgs)
        * [Default Arguments](#defaultArgs)
        * [Variable-length Arguments](#varLengthArgs)
    * [Lambda functions](#lambda)
    * [Variables](#variables4)
* [5.- Object Oriented Programming](#oop)
    * [Inheritance](#inheritance)
    * [Encapsulation](#encapsulation)
    * [Polymorphism](#polymorphism)

Playing with python: **First contact**

In [1]:
20+8

28

In [2]:
'a'+'b'

'ab'

# 1.- Basic instructions<a class="anchor" id="basic"></a>

## 1.1.- PEP8 style guide<a class="anchor" id="pep"></a>

In [3]:
my_first_list = ['banana', 'apple']

In [4]:
CONSTANT_NUMBER = 28

In [5]:
my_first_list

['banana', 'apple']

## 1.2.- Indentation<a class="anchor" id="indentation"></a>

In [6]:
if True:
print('true')
else:
print('false')

IndentationError: expected an indented block (<ipython-input-6-41a966334e88>, line 2)

In [7]:
if True:
    print('true')
else:
    print('false')

true

In [8]:
## Multiple line statements

In [2]:
item_one = 1
item_two = 2
total = item_one + \
        item_two

In [3]:
total

3

In [4]:
days = ['Monday', 'Tuesday', 'Wednesday',
        'Thursday', 'Friday']

In [5]:
print(days)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

## 1.3.- Variables<a class="anchor" id="variables"></a>

In [6]:
counter = 100
type(counter)

int

In [7]:
miles = 1000.0
type(miles)

float

In [8]:
name = "John"
type(name)

str

In [9]:
a = b = c = 1
a+b+c

3

counter = 0

## 1.4.- Constants<a class="anchor" id="constants"></a>

In [1]:
import constant

In [2]:
constant.PI

3.1415163434343

## 1.5.- Keywords<a class="anchor" id="keywords"></a>

In [19]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## 1.6.- Comments<a class="anchor" id="comments"></a>

Line comment

In [20]:
# This is a line comment

Multiple line comments

In [21]:
'''
This is a multiline comment.

We can write in many lines and will be commented in red.

You can also indent inside this comments:
    1.- To explain the arguments of a function
    2.- To explain the output of a function.
    3.- Or any other thing
    ...
'''

'\nThis is a multiline comment.\n\nWe can write in many lines and will be commented in red.\n\nYou can also indent inside this comments:\n    1.- To explain the arguments of a function\n    2.- To explain the output of a function.\n    3.- Or any other thing\n    ...\n'

## 1.8.- Printing on the screen<a class="anchor" id="print"></a>

As we are using python 3 we will use the next function: print()

In [22]:
print('This is my first print in python')

This is my first print in python

## 1.9 Operations<a class="anchor" id="operations"></a>

In [23]:
a = 10
b = 20

### 1.9.1.- Arithmetic operators<a class="anchor" id="arithmeticop"></a>

In [24]:
a == b

False

In [25]:
a != b

True

In [26]:
a > b

False

In [27]:
a < b

True

In [28]:
a >= b

False

In [29]:
a <= b

True

### 1.9.2.- Assignment operators<a class="anchor" id="assignmentop"></a>

In [30]:
c = a + b

In [31]:
c

30

In [32]:
c += a

In [33]:
c

40

In [34]:
c -= a

In [35]:
c

30

In [36]:
c *= a

In [37]:
c

300

In [38]:
c /= a

In [39]:
c

30.0

In [40]:
c %= a

In [41]:
c

0.0

In [42]:
c = 2
c **= a

In [43]:
c

1024

In [44]:
c //= a

In [45]:
c

102

### 1.9.3.- Bitwise Operators<a class="anchor" id="bitwiseop"></a>

In [46]:
a = 60
b = 13

In [47]:
a & b

12

In [48]:
a | b

61

In [49]:
a ^ b

49

In [50]:
~b

-14

In [51]:
a << b

491520

In [52]:
a >> b

0

### 1.9.4.- Logical operators<a class="anchor" id="logicalop"></a>

In [53]:
a = True
b = False

In [54]:
a and b

False

In [55]:
a or b

True

In [56]:
not (a and b)

True

### 1.9.5.- Membership operators<a class="anchor" id="membershipop"></a>

In [57]:
a = 1
b = [1, 2]

In [58]:
a in b

True

In [59]:
a not in b

False

### 1.9.6.- Identity operators<a class="anchor" id="identityop"></a>

In [60]:
a is b

False

In [61]:
a is not b

True

#  2.- Data Structures<a class="anchor" id="dataStructures"></a>

## 2.1.- Lists<a class="anchor" id="lists"></a>

In [62]:
fruits = ['banana', 'apple', 'orange']

In [63]:
print(fruits[1])

apple

In [64]:
fruits[0] = 'calculus'
print(fruits)

['calculus', 'apple', 'orange']

In [65]:
del fruits[0]

In [66]:
fruits

['apple', 'orange']

In [67]:
fruits.remove('orange')

In [68]:
fruits

['apple']

In [69]:
list1 = [1, 2, 4, 3, 5] 
list2 = [1, 2, 4, 3, 5]

In [70]:
list1.__eq__(list2)

True

In [71]:
len(list1)

5

In [72]:
max(list1)

5

In [73]:
min(list1)

1

## 2.2.- Tuples<a class="anchor" id="tuples"></a>

In [74]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5)

In [75]:
tuple1[0]

1

Elements on a tuple cannot be changed.

In [76]:
tuple[0] = 2

TypeError: 'type' object does not support item assignment

In [77]:
del tuple1

In [78]:
tuple1

NameError: name 'tuple1' is not defined

Tuple1 has been deleted

In [82]:
len(tuple2)

2

In [83]:
max(tuple2)

5

In [84]:
min(tuple2)

4

In [85]:
fruit_tuple = tuple(fruits)

In [86]:
fruit_tuple

('apple',)

## 2.3.- Dictionary<a class="anchor" id="dictionary"></a>

In [122]:
dictionary = {1: 'North',
              2: 'South',
              3: 'East'}

In [123]:
dictionary

{1: 'North', 2: 'South', 3: 'East'}

In [124]:
dictionary2 = {1: 'North',
              2: 'South',
              3: 'East',
              3: 'Overwrite_East'}

In [125]:
dictionary2

{1: 'North', 2: 'South', 3: 'Overwrite_East'}

In [126]:
dictionary[1]

'North'

In [127]:
dictionary[4] = 'West'

In [128]:
dictionary

{1: 'North', 2: 'South', 3: 'East', 4: 'West'}

Deleting element on dictionary

In [129]:
dictionary2

{1: 'North', 2: 'South', 3: 'Overwrite_East'}

In [130]:
del dictionary2[1]

In [131]:
dictionary2

{2: 'South', 3: 'Overwrite_East'}

Clearing all the dictionary elements

In [132]:
dictionary2.clear()

In [133]:
dictionary2

{}

Erasing dictionary

In [134]:
del dictionary2

In [135]:
dictionary2

NameError: name 'dictionary2' is not defined

In [136]:
len(dictionary)

4

In [137]:
str(dictionary)

"{1: 'North', 2: 'South', 3: 'East', 4: 'West'}"

In [138]:
type(dictionary)

dict

## 2.4.- Set and FrozenSets<a class="anchor" id="set"></a>

In [139]:
A = {1,2,3,4}
B = {4,5,6,7,7}

In [140]:
B

{4, 5, 6, 7}

<img src="images/union.jpg">

In [142]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

<img src="images/intersection.jpg">

In [144]:
A.intersection(B)

{4}

<img src="images/difference.jpg">

In [146]:
A.difference(B)

{1, 2, 3}

<img src="images/symmetric_difference.jpg">

In [148]:
A.symmetric_difference(B)

{1, 2, 3, 5, 6, 7}

# 3.- Control Structures<a class="anchor" id="controlStructures"></a>

## 3.1.- Iteration structures<a class="anchor" id="iteration"></a>

### 3.1.1.- While statement<a class="anchor" id="while"></a>

In [149]:
i = 1
while( i <= 5):
    print(i)
    i += 1

1
2
3
4
5

### 3.1.2.- For statement<a class="anchor" id="for"></a>

In [150]:
fruits = ['banana', 'apple', 'orange']

In [151]:
for fruit in fruits:
    print(fruit)

banana
apple
orange

One line for loop:

In [157]:
a = [print(fruit) for fruit in fruits]

banana
apple
orange

In [152]:
for letter in 'Python': 
    if letter == 'h':
        break
    print('Letter :', letter)

Letter : P
Letter : y
Letter : t

In [159]:
for letter in 'Python': 
    if letter == 'h':
        continue
    print('Letter :', letter)

Letter : P
Letter : y
Letter : t
Letter : o
Letter : n

In [160]:
for letter in 'Python': 
    if letter == 'h':
        pass
    print('Letter :', letter)

Letter : P
Letter : y
Letter : t
Letter : h
Letter : o
Letter : n

## 3.2.- Conditional structures<a class="anchor" id="conditional"></a>

In [4]:
a = 33
b = 33
if b == a:
    print('b is greater than a')

b is greater than a

In [5]:
if b > a:
    print('b is greater than a')
elif a == b:
    print('a and b are equal')

a and b are equal

In [6]:
if b > a:
    print('b is greater than a')
elif a < b:
    print('a and b are equal')
else:
    print('a  than b')

a  than b

# 4.- Functions<a class="anchor" id="functions"></a>

In [11]:
def my_function(name):
    print('Hello', name) 
    return (name, 23)

In [12]:
name, age = my_function('JANE')

Hello JANE

In [14]:
age

23

## 4.1.- Arguments<a class="anchor" id="arguments"></a>

In [15]:
def printinfo(name="maik", age=35, *vartuple):
    print("Name: ", name)
    print("Age ", age)
    if vartuple:
        print("Salary ", vartuple)

### 4.1.1.- Required Arguments<a class="anchor" id="requiredArgs"></a>

In [17]:
printinfo('Jack', 23, [23,23])

Name:  Jack
Age  23
Salary  ([23, 23],)

### 4.1.2.- Keyword Arguments<a class="anchor" id="keywordArgs"></a>

In [19]:
printinfo(name='Ben', age=23)

Name:  Ben
Age  23

### 4.1.3.- Default Arguments<a class="anchor" id="defaultArgs"></a>

In [169]:
printinfo()

Name:  maik
Age  35

### 4.1.4.- Variable-length Arguments<a class="anchor" id="varlengthArgs"></a>

In [20]:
printinfo([45,50])

Name:  [45, 50]
Age  35

## 4.2.- Lambda function<a class="anchor" id="lambda"></a>

In [21]:
plus2 = lambda x: x + 2
print(plus2(7))

9

## 4.3.- Variables<a class="anchor" id="variables4"></a>

In [24]:
def variable_function(): 
    str2 = 'world' # Local variable
    print(greeting) 
    print(greeting + str2)
    
global greeting # Global variable
greeting = 'Hello'
variable_function()
print(str2)

Hello
Helloworld

NameError: name 'str2' is not defined

# 5.- Object Oriented Programming<a class="anchor" id="oop"></a>

In [26]:
class People (object):
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [27]:
person = People('Pepe',38)

In [29]:
print(person.name)
print(person.age)

Pepe
38

## 5.1.- Inheritance<a class="anchor" id="inheritance"></a>

In [2]:
# parent class
class Bird:        
    def __init__(self):        
        print("Bird is ready")    
    def whoisThis(self):        
        print("Bird")

In [3]:
#child class (inherit of Bird class)
class Penguin(Bird):    
    def __init__(self):        
        super().__init__()       
        print("Penguin is ready")    
    def whoisThis(self):        
        print("Penguin")

In [4]:
p1 = Penguin()

Bird is ready
Penguin is ready

In [5]:
peggy = Penguin()
peggy.whoisThis()

Bird is ready
Penguin is ready
Penguin

## 5.2.- Encapsulation<a class="anchor" id="encapsulation"></a>

In [6]:
class Computer:
    def __init__(self):
        self.__maxprice = 900
    def sellingPrice(self):
        print("Selling Price: ", self.__maxprice)
    def setMaxPrice(self, price):
        self.__maxprice = price

In [7]:
c = Computer()

In [8]:
c.sellingPrice()

Selling Price:  900

In [9]:
c.__maxprice = 10
c.sellingPrice()

Selling Price:  900

In [10]:
c.setMaxPrice(10)
c.sellingPrice()

Selling Price:  10

## 5.3.- Polymorphism<a class="anchor" id="polymorphism"></a>

In [184]:
class Rectangle:
    def __init__(self):
        self.colour = 'blue'
    def setColour(self, colour):
        self.colour = colour
        print('Rectangle colour: ', self.colour)

class Square:
    def __init__(self):
        self.colour = 'red'
    def setColour(self, colour):
        self.colour = colour
        print('Square colour: ', self.colour)

In [185]:
r = Rectangle()
s = Square()

In [186]:
r.setColour('Red')
s.setColour('Blue')

Rectangle colour:  Red
Square colour:  Blue