# Python for Data Science course: PART 2
<img src="images/pandas.jpg" width="300">

Pandas (the name is derived from the term "panel data") is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Python-for-Data-Science-course:-PART-2" data-toc-modified-id="Python-for-Data-Science-course:-PART-2-0"><span class="toc-item-num">0&nbsp;&nbsp;</span>Python for Data Science course: PART 2</a></span></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas<a class="anchor" id="pandas"></a></a></span><ul class="toc-item"><li><span><a href="#Create-DataFrame" data-toc-modified-id="Create-DataFrame-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Create DataFrame<a class="anchor" id="dataframe"></a></a></span><ul class="toc-item"><li><span><a href="#Dataframe-index" data-toc-modified-id="Dataframe-index-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Dataframe index<a class="anchor" id="index"></a></a></span></li><li><span><a href="#Save/load-dataframe-info-to-csv" data-toc-modified-id="Save/load-dataframe-info-to-csv-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Save/load dataframe info to csv<a class="anchor" id="save"></a></a></span><ul class="toc-item"><li><span><a href="#Save-dataframe-to-csv" data-toc-modified-id="Save-dataframe-to-csv-1.1.2.1"><span class="toc-item-num">1.1.2.1&nbsp;&nbsp;</span>Save dataframe to csv</a></span></li><li><span><a href="#Load-dataframe-from-csv" data-toc-modified-id="Load-dataframe-from-csv-1.1.2.2"><span class="toc-item-num">1.1.2.2&nbsp;&nbsp;</span>Load dataframe from csv</a></span></li><li><span><a href="#Load-a-dataset-from-seaborn" data-toc-modified-id="Load-a-dataset-from-seaborn-1.1.2.3"><span class="toc-item-num">1.1.2.3&nbsp;&nbsp;</span>Load a dataset from seaborn<a class="anchor" id="load"></a></a></span></li></ul></li><li><span><a href="#Basic-Instructions" data-toc-modified-id="Basic-Instructions-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Basic Instructions<a class="anchor" id="basics"></a></a></span></li><li><span><a href="#Access-to-data" data-toc-modified-id="Access-to-data-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Access to data<a class="anchor" id="access"></a></a></span></li><li><span><a href="#What-would-happend-if-we-use-the-loc-with-the-data-frame-with-categorical-index?" data-toc-modified-id="What-would-happend-if-we-use-the-loc-with-the-data-frame-with-categorical-index?-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>What would happend if we use the loc with the data frame with categorical index?</a></span></li><li><span><a href="#Groupby" data-toc-modified-id="Groupby-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>Groupby<a class="anchor" id="groupby"></a></a></span></li></ul></li></ul></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Exercise<a class="anchor" id="exercise"></a></a></span><ul class="toc-item"><li><span><a href="#Read-CSV" data-toc-modified-id="Read-CSV-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Read CSV</a></span></li><li><span><a href="#Show-the-columns-and-if-there-is-a-categorical-or-numerical-index." data-toc-modified-id="Show-the-columns-and-if-there-is-a-categorical-or-numerical-index.-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Show the columns and if there is a categorical or numerical index.</a></span></li><li><span><a href="#Show-the-description-of-the-columns,-how-many-columns-are-categorical?-and-numerical?" data-toc-modified-id="Show-the-description-of-the-columns,-how-many-columns-are-categorical?-and-numerical?-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Show the description of the columns, how many columns are categorical? and numerical?</a></span></li><li><span><a href="#How-many-Teams-are-in-the-dataset?-Which-are-the-names-of-each-team?" data-toc-modified-id="How-many-Teams-are-in-the-dataset?-Which-are-the-names-of-each-team?-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>How many Teams are in the dataset? Which are the names of each team?</a></span></li><li><span><a href="#Who-is-the-most-paid-player?-And-which-is-his-team?" data-toc-modified-id="Who-is-the-most-paid-player?-And-which-is-his-team?-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Who is the most paid player? And which is his team?</a></span><ul class="toc-item"><li><span><a href="#Using-loc" data-toc-modified-id="Using-loc-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Using loc</a></span></li><li><span><a href="#Using-iloc" data-toc-modified-id="Using-iloc-2.5.2"><span class="toc-item-num">2.5.2&nbsp;&nbsp;</span>Using iloc</a></span></li></ul></li><li><span><a href="#Which-is-the-mean-Salary-of-each-Team?-Which-are-the-5-highest-mean-salaries?" data-toc-modified-id="Which-is-the-mean-Salary-of-each-Team?-Which-are-the-5-highest-mean-salaries?-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Which is the mean Salary of each Team? Which are the 5 highest mean salaries?</a></span></li></ul></li></ul></div>

In [2]:
# Dependencies

#!conda install -c conda-forge seaborn -y
#!conda install -c conda-forge pandas -y

In [1]:
import pandas as pd
import seaborn as sns

# Pandas<a class="anchor" id="pandas"></a>

In [3]:
data = {"name": ["Sophia", "John", "Jennifer", "Edgar", "Patrick"],
       "gender": ["F", "M", "F", "M", "M"],
       "country": ["Bulgaria", "USA", "USA", "England", "Netherlands"],
       "age": [23, 24, 46, 13, 72]}

## Create DataFrame<a class="anchor" id="dataframe"></a>

In [4]:
df = pd.DataFrame(data)
df

       name gender      country  age
0    Sophia      F     Bulgaria   23
1      John      M          USA   24
2  Jennifer      F          USA   46
3     Edgar      M      England   13
4   Patrick      M  Netherlands   72

In [5]:
df.columns

Index(['name', 'gender', 'country', 'age'], dtype='object')

### Dataframe index<a class="anchor" id="index"></a>

In [6]:
# Show index
df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
# Set index to column: name
df.set_index('name', drop=True, inplace=True)

In [8]:
df

         gender      country  age
name
Sophia        F     Bulgaria   23
John          M          USA   24
Jennifer      F          USA   46
Edgar         M      England   13
Patrick       M  Netherlands   72

In [9]:
df.reset_index(inplace=False, drop=False)

       name gender      country  age
0    Sophia      F     Bulgaria   23
1      John      M          USA   24
2  Jennifer      F          USA   46
3     Edgar      M      England   13
4   Patrick      M  Netherlands   72

### Save/load dataframe info to csv<a class="anchor" id="save"></a>

#### Save dataframe to csv

In [10]:
# Save dataframe to CSV
df.to_csv('small_data.csv', index=False)

#### Load dataframe from csv

In [11]:
pd.read_csv('small_data.csv')

  gender      country  age
0      F     Bulgaria   23
1      M          USA   24
2      F          USA   46
3      M      England   13
4      M  Netherlands   72

#### Load a dataset from seaborn<a class="anchor" id="load"></a>

In [12]:
df = sns.load_dataset('tips')
df_index = sns.load_dataset('tips')
df_index.set_index('sex', drop=True, inplace=True)

### Basic Instructions<a class="anchor" id="basics"></a>

In [14]:
len(df)

244

In [16]:
# Show the first 5 rows of the dataset
df_index.head(10)

        total_bill   tip smoker  day    time  size
sex
Female       16.99  1.01     No  Sun  Dinner     2
Male         10.34  1.66     No  Sun  Dinner     3
Male         21.01  3.50     No  Sun  Dinner     3
Male         23.68  3.31     No  Sun  Dinner     2
Female       24.59  3.61     No  Sun  Dinner     4
Male         25.29  4.71     No  Sun  Dinner     4
Male          8.77  2.00     No  Sun  Dinner     2
Male         26.88  3.12     No  Sun  Dinner     4
Male         15.04  1.96     No  Sun  Dinner     2
Male         14.78  3.23     No  Sun  Dinner     2

In [14]:
df_index.head()

        total_bill   tip smoker  day    time  size
sex
Female       16.99  1.01     No  Sun  Dinner     2
Male         10.34  1.66     No  Sun  Dinner     3
Male         21.01  3.50     No  Sun  Dinner     3
Male         23.68  3.31     No  Sun  Dinner     2
Female       24.59  3.61     No  Sun  Dinner     4

In [17]:
# Show the information of the dataframe columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [18]:
# Shows the stadistical data of the numerical attributes
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [17]:
# Shows the description of the categorical attributes
df.describe(include='category')

         sex smoker  day    time
count    244    244  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    151   87     176

In [19]:
# Show the unique values of a column
df.sex.unique()

[Female, Male]
Categories (2, object): [Female, Male]

In [22]:
df.time.unique()

[Dinner, Lunch]
Categories (2, object): [Dinner, Lunch]

In [24]:
# Show the count of the unique values of a column
df.day.nunique()

4

In [20]:
df[['tip']].head()

    tip
0  1.01
1  1.66
2  3.50
3  3.31
4  3.61

In [26]:
df.tip.tail(20)

224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, dtype: float64

In [27]:
df[['tip', 'sex']].head()

    tip     sex
0  1.01  Female
1  1.66    Male
2  3.50    Male
3  3.31    Male
4  3.61  Female

### Access to data<a class="anchor" id="access"></a>

In [29]:
# Acess by the rows index
df[3:28]

    total_bill   tip     sex smoker  day    time  size
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2
13       18.43  3.00    Male     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
15       21.58  3.92    Male     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
17       16.29  3.71    Male     No  Sun  Dinner     3
18       16.97  3.50  Female     No  Sun  Dinner     3
19       20.65  3.35    Male     No  Sat  Dinner     3
20       17.92  4.08    Male     No  Sat  Dinner     2
21       20.29  2.75  Female     No  Sat  Dinner     2
22       15.77  2.23  Female     No  Sat  Dinner     2
23       39.42  7.58    Male     No  Sat  Dinner     4
24       19.82  3.18    Male     No  Sat  Dinner     2
25       17.81  2.34    Male     No  Sat  Dinner     4
26       13.37  2.00    Male     No  Sat  Dinner     2
27       12.69  2.00    Male     No  Sat  Dinner     2

In [32]:
# Purely integer-location based indexing for selection by position.
df[df.iloc[:]['tip'] > 8]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3
212       48.33   9.0  Male     No  Sat  Dinner     4

In [33]:
#Access a group of rows and columns by label(s) or a boolean array.
df.loc[212]

total_bill     48.33
tip                9
sex             Male
smoker            No
day              Sat
time          Dinner
size               4
Name: 212, dtype: object

### What would happend if we use the loc with the data frame with categorical index?

In [35]:
df_index.info()

<class 'pandas.core.frame.DataFrame'>
CategoricalIndex: 244 entries, Female to Female
Data columns (total 6 columns):
total_bill    244 non-null float64
tip           244 non-null float64
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(3), float64(2), int64(1)
memory usage: 7.1 KB

In [26]:
df_index.loc[239]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.category.CategoricalIndex'> with these indexers [239] of <class 'int'>

In [ ]:
try:
    df_index.loc[239]
except Exception as e:
    print(str(e))

As the index is categorical we cannot search in the dataframe by a numerical index.

In [26]:
df_index.index.categories

Index(['Male', 'Female'], dtype='object')

In [27]:
df_index.loc['Male']

      total_bill   tip smoker  day    time  size
sex
Male       10.34  1.66     No  Sun  Dinner     3
Male       21.01  3.50     No  Sun  Dinner     3
Male       23.68  3.31     No  Sun  Dinner     2
Male       25.29  4.71     No  Sun  Dinner     4
Male        8.77  2.00     No  Sun  Dinner     2
...          ...   ...    ...  ...     ...   ...
Male       12.60  1.00    Yes  Sat  Dinner     2
Male       32.83  1.17    Yes  Sat  Dinner     2
Male       29.03  5.92     No  Sat  Dinner     3
Male       22.67  2.00    Yes  Sat  Dinner     2
Male       17.82  1.75     No  Sat  Dinner     2

[157 rows x 6 columns]

In [36]:
df.loc[2:5]
#f[df.loc[2:10]'tip'] > 5]
df[df.iloc[:]['tip'] > 8]

C:\Users\lmendizb\AppData\Local\Continuum\anaconda3\envs\course\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

### Groupby<a class="anchor" id="groupby"></a>

In [40]:
df.groupby('sex')['total_bill'].head()

0     16.99
1     10.34
2     21.01
3     23.68
4     24.59
5     25.29
6      8.77
11    35.26
14    14.83
16    10.33
Name: total_bill, dtype: float64

In [42]:
df.groupby('sex')['smoker'].describe()

       count unique top freq
sex
Male     157      2  No   97
Female    87      2  No   54

# Exercise<a class="anchor" id="exercise"></a>

In this exercise we are going to use a csv with the information of the nba players and their salary. You can download the file in the next [link](https://media.geeksforgeeks.org/wp-content/uploads/nba-2.csv).

Once downloaded follow the next steps:
* Read the csv
* Show the columns and if there is a categorical or numerical index.
* Show the description of the columns, how many columns are categorical? and numerical?
* How many Teams are in the dataset? Which are the names of each team?
* Who is the most paid player? And which is his team?
* Which is the mean Salary of each Team? Which are the 5 highest mean salaries?

## Read CSV

## Show the columns and if there is a categorical or numerical index.

## Show the description of the columns, how many columns are categorical? and numerical?

## How many Teams are in the dataset? Which are the names of each team?

##  Who is the most paid player? And which is his team?

### Using loc

### Using iloc

## Which is the mean Salary of each Team? Which are the 5 highest mean salaries?